body {
  text-align: center;
  margin: 0;
}

.robot-day {
  width: 100%;
  height: 100%;
  margin: 0;
  Padding: 50px 0;

  --bg-color: #fff;
  --robot-outline: #000;
  --robot-inner-body: #599599;
  --robot-eye: #fff;
}

.robot-night {
  width: 100%;
  height: 100%;
  margin: 0;
  Padding: 50px 0;

  --bg-color: #094549;
  --robot-outline: black;
  --robot-inner-body: grey;
  --robot-eye: #fff;
  background-color: var(--bg-color, white);
}

.head {
  height: 3rem;
  width: 2.7rem;
  background-color: var(--robot-inner-body, blue);
  border: 2px solid var(--robot-outline, black);
  margin: 0 auto -5px;
  border-radius: 10px 10px 16px 16px
}

.left-hand {
  height: 0.7rem;
  width: 6rem;
  background-color: var(--robot-outline, black);
  ;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  transform: rotate(-30deg);
  position: relative;
  top: 33px;
  left: 20px
}

.neck {
  height: 15px;
  width: 1.2rem;
  background-color: var(--robot-inner-body, blue);
  ;
  border: 2px solid var(--robot-outline, black);
  ;
  border-top: none;
  display: inline-block;
  margin: 0 -4px -6px;
  position: relative;
  z-index: 1;
}

.right-hand {
  height: 0.7rem;
  width: 6rem;
  background-color: var(--robot-outline, black);
  ;
  display: inline-block;
  margin: 0;
  border-radius: 0 5px 5px 0;
  transform: rotate(30deg);
  position: relative;
  top: 33px;
  right: 20px
}

.robot-body {
  height: 5rem;
  width: 2.0rem;
  border: 3px solid var(--robot-outline, black);
  ;
  border-top: none;
  border-radius: 10px 10px 8px 8px;
  background-color: var(--robot-inner-body, blue);
  ;
  margin: 0px auto -8px;
  position: relative;
  z-index: 1;
}

.left-leg {
  width: 0.7rem;
  height: 7rem;
  background-color: var(--robot-outline, black);
  ;
  display: inline-block;
  margin-right: 1.7rem;
  margin-top: -10px;
  transform: rotate(9deg);
  z-index: -2;
}

.right-leg {
  width: 0.7rem;
  height: 7rem;
  background-color: var(--robot-outline, black);
  ;
  display: inline-block;
  transform: rotate(-9deg);
}

.eye {
  display: inline-block;
  background-color: var(--robot-eye, white);
  ;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.eyeball {
  width: 5px;
  height: 5px;
  background-color: var(--robot-outline, black);
  ;
  position: absolute;
  top: 3px;
  left: 2px;
  border-radius: 50%
}

.mouth {
  padding: 4px;
}

.switch {
  margin: auto;
  margin-top: 50px;
}

button {
  font-size: 15px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 25px;
  padding: 3px 25px;
}